*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 6, 6);
    /* color: white; */
}
.mercury_ring{
    position: relative;
    height: 180px;
    width: 180px;
    border: 2px dotted white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.venus_ring{
    height: 270px;
    width: 270px;
    border: 2px dotted white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.earth_ring{
    height: 420px;
    width: 420px;
    border: 2px dotted white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mars_ring{
    height: 540px;
    width: 540px;
    border: 2px dotted white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jupiter_ring{
    height: 600px;
    width: 600px;
    border: 2px dotted white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saturn_ring{
    height: 660px;
    width: 660px;
    border: 2px dotted white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uranus_ring{
    height: 720px;
    width: 720px;
    border: 2px dotted white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.neptune_ring{
    height: 780px;
    width: 780px;
    border: 2px dotted white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sun{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px yellow, 0 0 30px 30px orange;
    background-color: rgb(255, 111, 0);
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* animation-name: rotate; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: translate(-50%, -50%); */
}
.mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune, .moon, .sun{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.mercury{
    height: 30px;
    width: 30px;
    background-color:gainsboro;
    /* transform: translateX(360px); */
    animation: mercury_rotation;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.venus{
    height: 50px;
    width: 50px;
    background-color:burlywood;
    /* transform: translateX(360px); */
    animation: venus_rotation;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.earth{
    width: 60px;
    height: 60px;
    background-color: rgb(0, 174, 255);
    /* border: 2px dotted white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; */
    animation-name: earth_rotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moon{
    width: 15px;
    height: 15px;
    background-color: rgb(251, 244, 244);
    animation: moon_rotate 2s linear infinite;
    box-shadow: 0px 0px 20px 10px white;
}
.mars{
    width: 35px;
    height: 35px;
    background-color: red;
    animation-name: mars_rotate;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.jupiter{
    width: 90px;
    height: 90px;
    background-color: peru;
    animation-name: jupiter_rotate;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.saturn{
    width: 80px;
    height: 80px;
    background-color: tan;
    animation-name: saturn_rotate;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.uranus{
    width: 70px;
    height: 70px;
    background-color: lightblue;
    animation-name: uranus_rotate;
    animation-duration: 19s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.neptune{
    width: 65px;
    height: 65px;
    background-color: blue;
    animation-name: neptune_rotate;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.rings{
    width: 90px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 20%;
    z-index: -1;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:  rotate(360deg);
    }
}
@keyframes mercury_rotation{
    from{
        transform: rotate(0deg) translateX(90px);
    }
    to{
        transform: rotate(360deg) translate(90px);
    }
}
@keyframes venus_rotation{
    from{
        transform: rotate(0deg) translateX(135px);
    }
    to{
        transform: rotate(360deg) translate(135px);
    }
}   
@keyframes earth_rotate {
    from{
        transform: rotate(0deg) translate(210px);
    }
    to{
        transform: rotate(360deg) translate(210px);
    }
}
@keyframes moon_rotate {
    from{
        transform: rotate(0deg) translate(50px);
    }
    to{
        transform: rotate(360deg) translate(50px);
    }
}
@keyframes mars_rotate {
    from{
        transform: rotate(0deg) translate(270px);
    }
    to{
        transform: rotate(360deg) translate(270px);
    }
}
@keyframes jupiter_rotate {
    from{
        transform: rotate(0deg) translate(300px);
    }
    to{
        transform: rotate(360deg) translate(300px);
    }
}
@keyframes saturn_rotate {
    from{
        transform: rotate(0deg) translate(330px);
    }
    to{
        transform: rotate(360deg) translate(330px);
    }
}
@keyframes uranus_rotate {
    from{
        transform: rotate(0deg) translate(360px);
    }
    to{
        transform: rotate(360deg) translate(360px);
    }
}
@keyframes neptune_rotate {
    from{
        transform: rotate(0deg) translate(390px);
    }
    to{
        transform: rotate(360deg) translate(390px);
    }
}